html, body {
    margin: 0;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: white;
}
.menu {
    width: 15%;
    background-color: rgb(0, 0, 0);
    padding: 10px 20px 0px;
    text-align: center;
}


.content {
    background-image:linear-gradient(rgb(109, 6, 6),black);
    min-height: 300px;
    width: 100%;
    padding: 20px;
    text-align: center;
    align-items: center;
    color: #e6e6e6;
}
.img{
  
    margin-left: 9%;
    margin-top: -10.5%;

}
h2{
    color:rgb(109, 6, 6);
}
.navegue{
    text-align: left;
}
a{
    color: rgb(255, 142, 142);
}
.iframe {
    margin-left: 23%;
   
}
.form{
    text-align: left;
    border-color: black;
}
.form sub-label{
    font-size: 50%;
}
